*.pyc
.idea/
.coverage
htmlcov/
/hrms.sublime-project
# Byte-compiled / optimized / DLL files
__pycache__/

*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
hrms/hrms/staticfiles
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints


#SASS Stuffs
hrms/static/hr/node_modules/
/node_modules/

/assets/bundles/
/webpack-stats.json
/bower_components/
/saftims-hr-build/
/saftims-hr_0.1_amd64.deb
/hrms/assets/bundles/
/hrms/static/dist/
/coverage/
/hrms/staticfiles/
/devops/gunicorn.sock/

/docker/SAFTIMS-HR-0.0.1.tar.gz
/debian/saftims-hr/
/debian/

devops/
scripts/run/
scripts/~/
/media/
/deb-build/
/interactive.py
db.sqlite3
